.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 0;
}
.navbar {
  margin-bottom: 0;
}
#weather-image {
  padding-top: 2.1em;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: rgba(236, 240, 241, 0.8)
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.current-temp {
  font-size: 400%;
}

.icon-xl {
  font-size: 400%;
}

.icon-lg {
  font-size: 350%;
}

.city-search-bar {
  position: relative;
}

.city-search-results {
  position: absolute;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
}

.current-weather-panel {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8)
}

.current-weather-panel .list-group-item {
  background: none;
}

.loader-overlay {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.forecast-card .lead {
  font-size: 2em;
  margin-bottom: 0;
}

.forecast-card--temp {
  font-size: 3em;
}

.forecast-card .lead small {
  position: relative;
  top: -0.5em;
}

.above-background {
  z-index: 90;
}
.background-content {
  background: white;
}
