<div class="container">

  <div class="row">

    <div class="col-md-8 col-xs-12 col-md-push-2">

      <br><br>

      <div class="row">
        <div class="col-md-4 col-md-push-4 col-sm-8 col-sm-push-4 text-center">
          <img src="images/profile.jpg" alt="" class="img-responsive img-circle">
        </div>
      </div>

      <br>

      <p class="lead text-center">
        <em>Weather Fore You</em> was built by a passionate, young, hard-working, aspiring professional full-stack web developer using AngularJS.
      </p>

      <p>
        Nick Taylor, the devloper of this application, is a mechanical engineering graduate from the University of
        Delaware who has pursued a self-teaching academic career in web development for almost 10 years. Now he is
        looking to turn pro. His long-term learning schedule has allowed him exposure to a number of different technologies
        and frameworks: Ruby, Ruby on Rails, PHP, Laravel, HTML5, CSS3, JavaScript, AngularJS, Node.js, Backbone.js,
        among others.
      </p>

      <p>
        After formalizing his training through an online web application development bootcamp called The Firehose Project,
        Nick began seeking a career in the web development industry. This application was developed to demonstrate
        competency in frontend technologies. Some highlights are below:
      </p>

      <ul>
        <li>Real-time data-driven applciation leveraging AngularJS two-way data binding.</li>
        <li>Bootstrap frontend development framework for rapid interface development.</li>
        <li>Yeoman, Grunt, Bower, and NPM to scaffold, build, and manage application dependencies.</li>
        <li>HTML5 LocalStorage to set a user's preferred forecast location.</li>
        <li>Real-time search results using Chatham's city API (built over Google places API).</li>
        <li>Automatic image detection by location using Google's places API.</li>
      </ul>

      <br><br>

    </div>

  </div>

</div><!--.container-->
