<div class="panel panel-primary">
  <div class="panel-body">
    <span class="text-uppercase text-muted">Weather Right Now</span>
    <h4><strong>{{ vm.cityName }}</strong></h4>

    <div class="row">
      <div class="col-xs-6 text-center">
        <span class="current-temp"><strong>{{ vm.weather.temperature | number:0 }}</strong><span class="meteocon" data-icon="+"></span></span><br>
      </div>
      <div class="col-xs-6 text-center">
        <span class="icon-xl meteocon" data-icon="{{ vm.weather.iconCode }}"></span><br>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 text-center">
        <span class="text-uppercase text-muted">real temp</span>
      </div>
      <div class="col-xs-6 text-center">
        <span class="text-uppercase text-muted">{{ vm.weather.cloudCode }}</span>
      </div>
    </div>

    <br>

    <p class="lead text-center text-uppercase">{{ vm.weather.date | date:'dd MMM' }}</p>

  </div><!--.panel-body-->

  <ul class="list-group">
    <li class="list-group-item">
      Apparent Temp <span class="pull-right"><strong>{{ vm.weather.apparentTemperature | number:0 }}<sup>o</sup></strong></span>
    </li>
    <li class="list-group-item">
      Relative Humidity <span class="pull-right"><strong>{{ vm.weather.humidity }}%</strong></span>
    </li>
    <li class="list-group-item">
      Pressure <span class="pull-right"><strong>{{ vm.weather.pressure | number:0 }} mbar</strong></span>
    </li>
  </ul>
</div>
