<div class="panel panel-primary current-weather-panel above-background">
  <header class="panel-heading">
    Weather Right Now
  </header>
  <div class="panel-body">
    <h4 class="text-center"><strong>{{ vm.location }}</strong></h4>

    <div class="row">
      <div class="col-xs-6 text-center">
        <span class="current-temp"><strong>{{ vm.weather.temperature | number:0 }}</strong><span class="meteocon" data-icon="+"></span></span><br>
      </div>
      <div class="col-xs-6 text-center">
        <span class="icon-xl meteocon" data-icon="{{ vm.weather.cloudCover|weatherIconFilter }}"></span><br>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 text-center">
        <span class="text-uppercase text-muted">real temp</span>
      </div>
      <div class="col-xs-6 text-center">
        <span class="text-uppercase text-muted">{{ vm.weather.cloudCover|weatherCloudsFilter }}</span>
      </div>
    </div>

    <br>

    <p class="lead text-center text-uppercase">
      <small>{{ vm.weather.date | date:'MMM' }}</small><br>
      <strong>{{ vm.weather.date | date:'dd' }}</strong>
    </p>

  </div><!--.panel-body-->

  <ul class="list-group">
    <li class="list-group-item">
      Feels Like <span class="pull-right"><strong>{{ vm.weather.apparentTemperature | number:0 }}<sup>o</sup></strong></span>
    </li>
    <li class="list-group-item">
      Relative Humidity <span class="pull-right"><strong>{{ vm.weather.humidity | percentFilter }}%</strong></span>
    </li>
    <li class="list-group-item">
      Pressure <span class="pull-right"><strong>{{ vm.weather.pressure | number:0 }} mbar</strong></span>
    </li>
  </ul>

  <div class="panel-footer">
    <em>Forecast served from {{ vm.forecastParams.source|weatherSourceFilter }}</em>
  </div>

  <div class="loader-overlay" ng-show="vm.loadingState"></div>
</div><!--.panel-->
