<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1 class="meteocon" data-icon="H"></h1>
      <h2>Weather Fore You</h2>
      <p>Hot 'n' fresh weather forecasts served up daily.</p>

      <div class="row" ng-include="'views/search-field.html'"></div>

    </div><!-- .jumbotron -->
  </div>

  <div class="col-md-4" ng-include="'views/current-weather.html'"></div>
</div>






<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">7 Day Forecast</h3>
      </div>
      <div class="panel-body">
        Number of days <br>
        Source <br>
        Average temp? <br>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row">

      <div class="col-sm-3 weather-card">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Today <small>Aug 26</small></h4>
            <h1 class="text-center meteocon" data-icon="H"></h1>
            <p>
              <strong>High:</strong> High Temp
              <strong>Low:</strong> Low Temp
            </p>
          </div>
        </div>
      </div><!-- .weather-card -->

      <div class="col-sm-3 weather-card">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Today <small>Aug 26</small></h4>
            <h1 class="text-center meteocon" data-icon="H"></h1>
            <p>
              <strong>High:</strong> High Temp
              <strong>Low:</strong> Low Temp
            </p>
          </div>
        </div>
      </div><!-- .weather-card -->

      <div class="col-sm-3 weather-card">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Today <small>Aug 26</small></h4>
            <h1 class="text-center meteocon" data-icon="H"></h1>
            <p>
              <strong>High:</strong> High Temp
              <strong>Low:</strong> Low Temp
            </p>
          </div>
        </div>
      </div><!-- .weather-card -->

      <div class="col-sm-3 weather-card">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Today <small>Aug 26</small></h4>
            <h1 class="text-center meteocon" data-icon="H"></h1>
            <p>
              <strong>High:</strong> High Temp
              <strong>Low:</strong> Low Temp
            </p>
          </div>
        </div>
      </div><!-- .weather-card -->

      <div class="col-sm-3 weather-card">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Today <small>Aug 26</small></h4>
            <h1 class="text-center meteocon" data-icon="H"></h1>
            <p>
              <strong>High:</strong> High Temp
              <strong>Low:</strong> Low Temp
            </p>
          </div>
        </div>
      </div><!-- .weather-card -->

      <div class="col-sm-3 weather-card">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Today <small>Aug 26</small></h4>
            <h1 class="text-center meteocon" data-icon="H"></h1>
            <p>
              <strong>High:</strong> High Temp
              <strong>Low:</strong> Low Temp
            </p>
          </div>
        </div>
      </div><!-- .weather-card -->

    </div><!--.row-->
  </div>
</div>
