<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1 class="meteocon" data-icon="H"></h1>
      <h2>Weather Fore You</h2>
      <p>Hot 'n' fresh weather forecasts served up daily.</p>

      <!-- Forecast search bar -->
      <div class="row" ng-include="'views/search-field.html'"></div>

    </div><!-- .jumbotron -->
  </div>

  <!-- Current Weather Block -->
  <div class="col-md-4" ng-include="'views/current-weather.html'"></div>
</div>


<img src="{{ vm.locationPhotoUrl }}" width="200" height="200">




<div class="row">

  <div class="col-md-7">

    <h3>X-Day Forecast <small><a ng-href="#/">Switch to x-day</a></small></h3>

    <forecast-card ng-repeat="day in vm.forecastDays" forecast="day"></forecast-card>

  </div><!--.forecast-cards-->

  <div class="col-md-5">

    <h3>See the Temps</h3>

    <!-- TODO: use angular charts to plot 7-day forecast highs and lows -->

  </div><!--.forecast-chart-->

</div><!--.row-->
