<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">Weather Fore You</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-class="{'active' : page === 'forecasts'}"><a ng-href="#/">Forecasts</a></li>
        <li ng-class="{'active' : page === 'about'}"><a ng-href="#/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/"><span class="glyphicon glyphicon-home"></span> Make This My Default Location</a></li>
      </ul>
    </div>
  </div>
</div><!-- .navbar -->
