<!-- inherits from MainCtrl -->
<form>
  <div class="col-md-10 col-md-push-1 text-left">
    <div class="form-group city-search-bar">
      <div class="input-group input-group-lg">
        <div class="input-group-btn">
          <button class="btn btn-success" ng-click="vm.updateSearchResults()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <input
          type="text"
          class="form-control input-lg"
          placeholder="Enter your city"
          ng-model="vm.searchQuery"
          ng-change="vm.updateSearchResults()">
        <div class="input-group-btn">
          <button class="btn btn-default" ng-show="vm.searchQuery" ng-click="vm.clearSearch()">&times;</button>
        </div>
      </div>

      <div class="list-group city-search-results">
        <a ng-repeat="result in vm.searchResults"
          ng-href="#/"
          ng-click="vm.updateCurrentWeatherByResult(result)"
          class="list-group-item">{{ result.name }}</a>
      </div><!--.list-group-->

    </div><!--.form-group-->

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6 text-center text-uppercase">
          <p><small>Forecast for</small></p>
        </div>
        <div class="col-xs-6 text-center text-uppercase">
          <p><small>Forecast from</small></p>
        </div>

        <div class="col-xs-6">
          <select class="form-control" ng-model="vm.numDaysToForecast">
            <option value="2">2 Days</option>
            <option value="4">4 Days</option>
            <option value="6">6 Days</option>
          </select>
        </div>
        <div class="col-xs-6">
          <select class="form-control" ng-model="vm.forecastParams.source">
            <option ng-repeat="provider in vm.providers" value="{{ provider.code }}">{{ provider.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div><!--.push-10-col-->

</form><!--.form-->
